.range-item {
    --ion-grid-column-padding: 0px;

    padding-top: var(--page-margin);
    padding-inline-start: var(--page-margin);
    padding-inline-end: var(--page-margin);
    // box-shadow at the top
    box-shadow: inset 0 6px 3px -8px  var(--ion-color-darkest);
}
.range-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: calc(var(--page-margin) / 2);

    .range-value {
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 0.2px;
      color: var(--ion-color-medium);
    }

    .range-label {
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.2px;
      color: var(--ion-color-medium);
    }
  }

  .range-control {
    // override the pin color
    --ion-text-color: var(--ion-color-medium);

    padding-top: 0px;
    padding-bottom: 0px;
  }
  .checkbox-list {
    .checkbox-item {
      --padding-start: var(--page-margin);
      --padding-end: var(--page-margin);
      --inner-padding-end: 0px;

      .checkbox-label {
        font-size: 14px;
				font-weight: 500;
				letter-spacing: 0.2px;
  			color: var(--ion-color-medium);
      }

      ion-checkbox {
        margin-inline-end: 0px;
      }
    }
  }
