<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Список дел</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

<ion-grid>
  <ion-row class="ion-align-items-center">
    <ion-col>
        <ion-item>
          <ion-input placeholder="Название задачи" (keypress)="taskCompleted($event)" [(ngModel)]="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-textarea placeholder="Описание задачи" [(ngModel)]="description"></ion-textarea>
        </ion-item>
    </ion-col>
    <ion-col size="auto">
      <ion-button (click)="createTask()">+</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

<div *ngIf="data.length == 0" class="message">
  <ion-label>Задачи отсутствуют</ion-label>
</div>
  
<ion-list>
  <ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorder($any($event))">
    <ion-item *ngFor="let task of data" [ngClass]="{'done': task.isActive}">
      <ion-checkbox class="check"  slot="start"  [(ngModel)]="task.isActive"/>
      <ion-label> 
        <h2>{{ task.name }} </h2>
        <p>{{ task.description }}</p>
      </ion-label>
    <ion-reorder slot="end"></ion-reorder>
  </ion-item>

  </ion-reorder-group>
</ion-list>

</ion-content>
