<ion-header>
  <ion-toolbar>
    <ion-title>Регистрация</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input type="email" label="Email" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="password" label="Пароль" [(ngModel)]="password"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="register()">Зарегистрироваться</ion-button>
  <ion-button expand="block" fill="outline" (click)="goToLogin()">Назад</ion-button>
</ion-content>
