div.main-body{
    background: BlueViolet;
    color: BlueViolet;
    height: 1000px;
}

.goods_list{
    display: flexbox;
    align-items: center;
}

.product-name{
    --color: black;
    background-color: #aaa;
    word-wrap: break-all;
    font-size: 20px;
    text-align: center;
    height: 190px;
    width: 190px;
}
.product-card{
    --ion-item-background: #bbb;
    height: 200px;
    width: 200px;
    display: inline-block;
    word-wrap: break-all;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
