<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
    </ion-buttons>
    <ion-title>
      Drag and drop
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" size="6">
  
  <div *ngFor="let item of items" class="item">
    <h2>{{ item.name }}</h2>
    <p>Цена: {{ item.price }} руб</p>
    <p>Описание: {{ item.description }}</p>
    <ion-button (click)="goToItem(item)">Подробнее</ion-button>
  </div>

  

</ion-content>