<ion-header>
  <ion-toolbar>
    <ion-title>{{loc.COMPONENT_TITLE}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="crypto-container">
    <ng-container *ngFor="let crypto of cryptocurrencies">
      <ion-card class="crypto-card">

        <ion-card-header>
          <ion-card-title>{{ crypto.name }}</ion-card-title>
          <ion-card-subtitle>{{"CRYPTO_MODULE.CRYPTO_TIME" | translate}}: {{ formattedDate }} </ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <img [src]="crypto.logo" alt="{{ crypto.name }} logo" class="crypto-logo">
          <p *ngIf="crypto.price !== null">{{"CRYPTO_MODULE.CRYPTO_PRICE" | translate}}: ${{ crypto.price }} </p>
          <p *ngIf="crypto.price === null">{{"CRYPTO_MODULE.CRYPTO_LOADING" | translate}}...</p>
        </ion-card-content>

      </ion-card>
    </ng-container>
  </div>
</ion-content>