<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong class="capitalize">{{ folder }}</strong>
    <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>

  
  <h2 class="components-title">Компоненты</h2>

  <div class="card-container">
    <ion-card *ngFor="let c of comp_list" class="card-item">
      <ion-card-header>
        <ion-card-title>{{c.c_name}}</ion-card-title>
        <ion-card-subtitle>{{c.c_desc}}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>

<style>
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-item {
  flex: 0 1 30%; 
  margin-bottom: 20px; 
}

.components-title {
  margin: 20px; 
  font-size: 24px; 
  font-weight: bold; 
}
</style>
