<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ "PHP.COMPONENT_TITLE" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Посчитать стоимость дома</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Данная программа считает приблизительную цену дома, учитывая такие данные как расстояние до метро, площадь и регион.
    </ion-card-content>
  </ion-card>





  <ion-item>
    <ion-label>Сколько минут до метро? (<ion-text color="primary">{{ input_minutes_to_metro }}</ion-text>)</ion-label>
    <ion-range min="0" max="60" step="1" [(ngModel)]="input_minutes_to_metro"></ion-range>
  </ion-item>
   <ion-item>
    <ion-label>Сколько комнат в доме? (<ion-text color="primary">{{ input_number_of_rooms }}</ion-text>)</ion-label>
    <ion-range min="0" max="12" step="1" [(ngModel)]="input_number_of_rooms"></ion-range>
  </ion-item>








  <!-- <ion-item>
    <ion-input label="Сколько минут до метро:" [(ngModel)] = "input_minutes_to_metro"></ion-input>
  </ion-item> -->
  <ion-item>
    <ion-input label="Площадь(м²):" [(ngModel)] = "input_area"></ion-input>
  </ion-item>
  <ion-item>
    <ion-radio-group value="custom-checked" [(ngModel)] = "region">
      <ion-radio value="Moscow" aria-label="Custom checkbox">Москва</ion-radio>
      <ion-radio value="Region_Moscow" aria-label="Custom checkbox that is checked">Регион Москвы</ion-radio>
    </ion-radio-group>
  </ion-item>

<ion-button icon-only (click)="go()">Посчитать</ion-button>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Результат:</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Цена дома: <ion-text color="{{ color }}">{{ result }}</ion-text>
    </ion-card-content>
  </ion-card>

</ion-content>
