<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ myname }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-input label="Сколько минут до метро:" [(ngModel)] = "input_minutes_to_metro"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Количество комнат:" [(ngModel)] = "input_number_of_rooms"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Площадь(м²):" [(ngModel)] = "input_area"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Жилая площадь(м²):" [(ngModel)] = "input_living_area"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Площадь кухни(м²):" [(ngModel)] = "input_kitchen_area"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Этаж:" [(ngModel)] = "input_floor"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Количество этажей:" [(ngModel)] = "input_number_of_floors"></ion-input>
  </ion-item>

<ion-button icon-only (click)="go()">Посчитать</ion-button>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Результат:</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Цена дома: {{ price }}
    </ion-card-content>
  </ion-card>

</ion-content>
