<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" formControlName="email" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password" required></ion-input>
    </ion-item>
    <div style="width:100%;display: flex; justify-content: center;">
      <ion-button style="flex:1" type="submit">
        <ion-icon   color="danger" expand="block-center">Sign In</ion-icon>
        Sign In
      </ion-button>
      
      <ion-button style="flex:1"  [routerLink]="['/signup']" class="small-text">Sign Up
        <ion-icon >Sign Up</ion-icon></ion-button>
    </div>
  
    <ion-row>
      <ion-col>
    
        <a [routerLink]="['/forgot-password']" class="small-text">Forgot Password?</a>
        <div class="ion-text-center">
          <p aria-setsize="1">or</p>
        </div>
        <ion-button class="social-auth-btn vk-auth-btn" expand="block" shape="round">
          <ion-icon name="logo-vk"></ion-icon>
        </ion-button>
        <ion-button class="social-auth-btn google-auth-btn"  expand="block" shape="round">
          <ion-icon name="logo-google"></ion-icon>
        </ion-button>
        <ion-button class="social-auth-btn twitter-auth-btn"  expand="block" shape="round">
          <ion-icon name="logo-apple"></ion-icon>
        </ion-button>

        <ion-grid >
          <ion-row class="ion-justify-content-center">
            By creating an account you agree to our &nbsp;<a (click)="showPrivacyModal()">Privacy policy</a>&nbsp;and&nbsp;<a (click)="showTermsOfServiceModal()">Terms of use</a>.
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </form>
</ion-content>