<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>Добро пожаловать</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen scroll-y="false" class="cyberpunk-font gradient-bg">
  <swiper-container class="intro-swiper" pagination="true">
    <swiper-slide *ngFor="let slide of slides">
      <div class="slide-image-full">
        <img [src]="slide.image" alt="Изображение" />
        <div class="overlay-text">
        <div class="nav-buttons-absolute">
          <ion-button fill="clear" (click)="swiperRef?.slidePrev()" class="nav-btn">Назад</ion-button>
          <ion-button fill="clear" (click)="swiperRef?.slideNext()" class="nav-btn">Далее</ion-button>
        </div>
          <div class="text-wrapper">
            <h3>{{ slide.title }}</h3>
            <p *ngFor="let paragraph of slide.paragraphs">{{ paragraph }}</p>
          </div>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>

  
</ion-content>
