<ion-header class="ion-no-border">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <swiper-container>
    <swiper-slide>
      <ion-row >
        <ion-col class="illustration-col">
          <app-aspect-ratio [ratio]="{w:915, h:849}">
            <app-image-shell class="illustration-image" animation="spinner" src="./assets/sample-images/notifications/diana.jpg" ></app-image-shell>
          </app-aspect-ratio>
        </ion-col>
        <ion-img src="./assets/sample-images/notifications/diana.jpg"></ion-img>
        <ion-col class="info-col">
          <div class="info-wrapper">
            <h3 class="info-title">This App is built with Ionic 5</h3>
            <p class="info-paragraph">
              It was created by the <b>IonicThemes</b> team to help you jump start your Ionic app development.
            </p>
            <p class="info-paragraph">
              <b>You will love Ionic 5, and if you get lost, remember we have lots of tutorials to help you.</b>
            </p>
          </div>
        </ion-col>
      </ion-row>
    </swiper-slide>
    
  </swiper-container>
</ion-content>