<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Forms & Validations</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list class="inputs-list" lines="full">
    <ion-list-header>
      <b><ion-label class="header-title" color="primary">Basic Validations</ion-label></b>
    </ion-list-header>

    <ion-item class="input-item">
      <b> <ion-label position="floating">Username</ion-label></b>
      <ion-input type="text" formControlName="username" clearInput required></ion-input>
    </ion-item>
    <ion-item class="input-item">
      <b><ion-label position="floating">Name</ion-label></b>
      <ion-input type="text" formControlName="name" clearInput label-placement="floating" fill="outline"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>