.TitleGorod{

    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
    color: white;
}

.Title{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.text{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
    color: white;
}

.text2{
    font-size: 150px;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
    color: white;
}


.iconki1{
    font-size: 40px;
   
}
.shasl{
    font-size: 46px;
}

.iconki2{
    font-size: 30px;
   
}

.tab1{
    position: relative;
    color: white;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;

}




