<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large">deals
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-card>
  <ion-card-header>
    <ion-card-title>deals</ion-card-title>
  </ion-card-header>
  <ion-card *ngFor="let product of getProiducts()">
  <ion-card-content>
      <ion-label class="ion-margin-start" [class.stroke]="product.checked">
          <p>{{ product.name }}</p> 
          <h4>{{ product.desc }}</h4>
      </ion-label>
    </ion-card-content>
    </ion-card>
</ion-card>
</ion-content>