<ion-content class="scrollable-content">
  <header>
    <h1 class="large-text">Deals</h1>
  </header>

  <div class="header">
    <ion-img
      src="https://березовая-метла.рф/upload/iblock/b80/o8oobwl6vi3cmghoeomp79m5jg41xy10.jpg"
      class="header-image">
    </ion-img>
  </div>

  <div class="search-container">
    <ion-searchbar [(ngModel)]="searchText" debounce="500" placeholder="Поиск"></ion-searchbar>
    <button class="search-toggle-button" (click)="toggleSearchType()">
      {{ searchType === 'name' ? 'Поиск по скидкам' : 'Поиск по названию' }}
    </button>
  </div>

  <div class="deal-container">
    <ng-container *ngFor="let product of products">
      <ion-card class="deal-card">

        <ion-card-header>
          <ion-card-title>{{ product.name }}</ion-card-title>
          <ion-card-subtitle>{{product.desc}} </ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <img [src]="product.imageUrl" *ngIf="product.imageUrl" (click)="openLink(product.link)" style="cursor:pointer">
        </ion-card-content>

      </ion-card>
    </ng-container>
  </div>
  
</ion-content>
