/* Color variables */
$primary-color: #4caf50;

/* General styles */
body {
  background-color: #f2f2f2;
}

/* Recipes container */
.recipes-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
  padding: 16px;
  max-height: calc(100vh - 60px);
  overflow-y: auto;
}

/* Card styling */
ion-card {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.3s ease;

  &:active {
    transform: scale(0.98);
  }
}

ion-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

ion-card-header {
  padding: 16px;
  background: linear-gradient(to bottom, rgba(21, 23, 26, 0.8), rgba(21, 23, 26, 0.2)); /* Gradient background */
  color: #fff;
}

header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://sun9-75.userapi.com/c840521/v840521249/588e9/x-nQBtYcBnQ.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 135px 20px;
    text-align: center;
}

h1 {
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

ion-card-title {
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
}

ion-card-subtitle {
  font-size: 0.9em;
  color: #fff;
}

ion-card-content {
  padding: 16px;
  font-size: 0.9em;
  color: #666;
}

/* Modal styling */
.recipe-details-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal-card {
  position: relative;
  background-color: #15171a;
  border-radius: 8px;
  overflow: hidden;
  max-width: 90vw;
  width: 800px;
  padding: 0; /* Remove padding from modal-card */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  color: $primary-color;
}

.modal-content {
  padding: 24px; /* Add padding for content */
  color: #fff;
}

.recipe-detail-img {
  width: 100%;
  border-radius: 8px;
  margin-top: 0; /* Remove margin */
}

/* Optional: Transition effect for modal */
.recipe-details-modal {
  transition: opacity 0.3s ease;
}
