<header>
</header>

<ion-searchbar></ion-searchbar>

<ion-content>
  <div class="recipes-container">
    <ion-card *ngFor="let recipe of recipes" (click)="selectRecipe(recipe)">
      <img [src]="recipe.image" alt="recipe image">
      <ion-card-header>
        <ion-card-subtitle>{{ recipe.description }}</ion-card-subtitle>
        <ion-card-title>{{ recipe.name }}</ion-card-title>
      </ion-card-header>

    </ion-card>
  </div>


  <!-- Модальное окно с деталями рецепта -->
  <div *ngIf="selectedRecipe" class="recipe-details-modal" (click)="deselectRecipe()">
    <div class="modal-card" (click)="$event.stopPropagation()">
      <button class="close-button" (click)="deselectRecipe()">
        <span class="close-text">X</span>
      </button>
      <div class="modal-content">
        <img [src]="selectedRecipe.image" alt="recipe image" class="recipe-detail-img">
        <h2>{{ selectedRecipe.name }}</h2>
        <p>{{ selectedRecipe.details }}</p>
      </div>
    </div>
  </div>
</ion-content>
