:host {
  display: block;
}

ion-card {
  margin-bottom: 16px;
}

ion-card-title {
  font-weight: 700;
}

ion-card-subtitle {
  color: var(--ion-color-medium-shade);
}

ion-badge {
  margin-left: 12px;
}
