<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" *ngIf="isModal==true">Close</ion-button>
    </ion-buttons>
    <ion-title> {{"PRIVACY_TITLE" | translate}}    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" size="6">
  <ion-fab slot="fixed" horizontal="right" vertical="bottom" class="ion-padding">
    <ion-fab-button> {{lang}}
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button *ngFor="let l of langs" (click)="change_lang(l)">
      {{l}}
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <div *ngIf="lang=='en'">
    <h3 class="legal-title">1. Introduction</h3>
    <p class="legal-text">
      We are responsible for mainta ining and protecting the Personal Information under our control. We have designated
      an individual or individuals who is/are responsible for compliance with our privacy policy.
    </p>
    <h3 class="legal-title">2. Identifying Purposes</h3>
    <p class="legal-text">
      We collect, use and disclose Personal Information to provide you with the product or service you have requested
      and to offer you additional products and services we believe you might be interested in. The purposes for which we
      collect Personal Information will be identified before or at the time we collect the information. In certain
      circumstances, the purposes for which information is collected may be clear, and consent may be implied, such as
      where your name, address and payment information is provided as part of the order process.
    </p>
    <h3 class="legal-title">3. Consent</h3>
    <p class="legal-text">
      Knowledge and consent are required for the collection, use or disclosure of Personal Information except where
      required or permitted by law. Providing us with your Personal Information is always your choice. However, your
      decision not to provide certain information may limit our ability to provide you with our products or services. We
      will not require you to consent to the collection, use, or disclosure of information as a condition to the supply
      of a product or service, except as required to be able to supply the product or service.
    </p>
  </div>
  <div *ngIf="lang=='ru'">
    <h3 class="legal-title">1. Вступление</h3>
    <p class="legal-text">
      Мы несем ответственность за хранение и защиту личной информации, находящейся под нашим контролем. Мы назначили
      физическое лицо или отдельных лиц, которые несут ответственность за соблюдение нашей политики конфиденциальности.
    </p>
    <h3 class="legal-title">2. Идентифицирующие цели</h3>
    <p class="legal-text">
      Мы собираем, используем и раскрываем личную информацию, чтобы предоставить вам продукт или услугу, которые вы
      запросили, и предложить вам дополнительные продукты и услуги, которые, по нашему мнению, могут вас заинтересовать.
      Цели, для которых мы собираем личную информацию, будут определены до или во время сбора информации. При
      определенных обстоятельствах цели, для которых собирается информация, могут быть ясны, и согласие может
      подразумеваться, например, когда ваше имя, адрес и платежная информация предоставляются в рамках процесса
      оформления заказа.
    </p>
    <h3 class="legal-title">3. Согласие</h3>
    <p class="legal-text">
      Для сбора, использования или раскрытия личной информации требуются знания и согласие, за исключением случаев,
      когда это требуется или разрешено законом. Предоставление нам вашей личной информации всегда является вашим
      выбором. Однако ваше решение не предоставлять определенную информацию может ограничить нашу способность
      предоставлять вам наши продукты или услуги. Мы не будем требовать от вас согласия на сбор, использование или
      раскрытие информации в качестве условия поставки продукта или услуги, за исключением случаев, когда это требуется
      для возможности поставки продукта или услуги.
    </p>
  </div>

</ion-content>