/*ion-card {
    width: 100%;
    height: 95%;
  }*/
  ion-col {
    padding: 10px;
  }
  
  ion-item {
    margin-bottom: 10px;
  }
  
  ion-card {
    width: 100%;
  }
  
  ion-textarea {
    width: 100%;
    height: 150px;
  }
  