<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="addMainTask()">➕ Задача</ion-button>
      <ion-button (click)="addSubtask()">➕ Подзадача</ion-button>
    </ion-buttons>
    
    <ion-buttons slot="end">
      <ion-button (click)="removeLastTask()" color="danger">➖ Задача</ion-button>
      <ion-button (click)="removeLastSubtask()" color="danger">➖ Подзадача</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let task of tasks" class="task-container">
    <ion-item>
      <ion-label position="stacked">Задача</ion-label>
      <ion-textarea
        [(ngModel)]="task.content"
        placeholder="Введите основную задачу">
      </ion-textarea>
    <div *ngFor="let subtask of task.subtasks" class="subtask-container">
        <ion-textarea
          id="subtask-{{task.id}}-{{subtask.id}}"
          [(ngModel)]="subtask.content"
          (click)="handleSubtaskClick(task.id, subtask.id)"
          [ngClass]="'style-' + subtask.styleIndex"
          placeholder="Введите подзадачу">
        </ion-textarea>
    </div>    
  </ion-item>


  </div>
</ion-content>
