<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Miniblog</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card *ngFor="let blog of blogs">
    <ion-card-header>
      <ion-card-title>{{blog.name}}</ion-card-title>
      <ion-card-subtitle><ion-badge color="primary">{{blog.chapter}}</ion-badge></ion-card-subtitle>
      <ion-img [src]="blog.src"></ion-img>
    </ion-card-header>
  
    <ion-card-content>
      {{blog.text}}
    </ion-card-content>
  </ion-card>
  <ion-fab slot="fixed" horizontal="left" vertical="bottom">
    <ion-fab-button (click)="openModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

