<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Validations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="validations-content">

  <ion-list class="inputs-list">



    <ion-item class="input-item">
      <ion-input label="Username" placeholder="Enter text"></ion-input>
    </ion-item>


    <ion-item class="input-item">
      <ion-input label="Name" placeholder="Enter text"></ion-input>
    </ion-item>


    <ion-item class="input-item">
      <ion-input label="Last Name" placeholder="Enter text"></ion-input>
    </ion-item>

    <ion-item class="input-item">
      <ion-input label="Email input" type="email" placeholder="email@domain.com"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Phone" type="tel" placeholder="888-888-8888"></ion-input>
    </ion-item>

    <ion-list-header>
      <ion-label>Gender</ion-label>
    </ion-list-header>

    <ion-radio-group value="turtles">
      <ion-radio value="female"> female </ion-radio><br />
      <ion-radio value="male"> male </ion-radio><br />
    </ion-radio-group>

    <ion-item>
      <ion-input label="Password" type="password" value="password"></ion-input>
    </ion-item>




  </ion-list>


</ion-content>