<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Заметки</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="notes-validations-content">
  <ion-list class="inputs-list" lines="full">
    <ion-item class="input-item">
      <b><ion-label position="floating">Текст</ion-label></b>
      <ion-input
        type="text"
        clearInput
        required
        name="noteData"
        [(ngModel)]="noteData"
        class="note-input"
      ></ion-input>
    </ion-item>
    <ion-button (click)="saveData()">Сохранить</ion-button>
  </ion-list>
  <ion-list class="remove-note-list">
    <ion-item
      class="remove-note"
      style="margin-top: 10px"
      *ngFor="let note of notes"

    >
      <p id="{{ note.id }}">{{ note.data }}</p>
      <ion-button
        (click)="removeDocument(note.id )"
        slot="end"
        class="remove-note"
        >x</ion-button
      >
      <ion-button
      (click)="setEditMode(note.data, note.id)"
      slot="end"
      class="remove-note"
    >edit</ion-button>    


    </ion-item>
  </ion-list>
  <ion-label> </ion-label>
</ion-content>
