<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Пометки</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="notes-validations-content">
    <ion-list class="inputs-list" lines="full">

      <ion-item class="input-item">
        <b> <ion-label position="floating">Текст</ion-label></b>
        <ion-input type="text" formControlName="text" clearInput required ></ion-input>
      </ion-item>   

      <ion-button>Сохранить</ion-button>
    </ion-list>
    <ion-label>
      <!-- <ul>
        <li *ngFor="let note of notes">{{ note.note }}</li>
      </ul> -->
      
    </ion-label>


</ion-content>  