<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="signup-content">
  <h2 class="auth-title">
    {{appTitle}}
  </h2>

  <ion-list class="inputs-list" lines="full">
    <ion-item class="input-item">
      <ion-input type="email" placeholder="Email" clearInput autocapitalize="off" inputmode="email"></ion-input>
    </ion-item>
    <div class="error-container">
      <div class="error-message">
        <ion-icon name="information-circle-outline"></ion-icon>
        <span>1</span>
      </div>
    </div>

    <div>
      <ion-item class="input-item">
          <ion-input type="password" placeholder="Password"></ion-input>
      </ion-item>
      <div class="error-container">
          <div class="error-message">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>2</span>
          </div>
      </div>
   
      <ion-item class="input-item">
          <ion-input type="password" placeholder="Confirm Password"></ion-input>
      </ion-item>
      <div class="error-container">
          <div class="error-message">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>3</span>
          </div>
      </div>
  </div>
  </ion-list>
</ion-content>
