<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mplayer</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>

</ion-header>



<ion-card>
  <ion-card-header>
    <ion-card-title>Music Ttitle</ion-card-title>
    <ion-card-subtitle>Author Name</ion-card-subtitle>
    <div style="position: absolute; left: 50%; top: 0; transform: translateX(-50%);">
      <ion-button shape="round">
        <ion-icon slot="icon-only" name="heart"></ion-icon>
      </ion-button>
      <ion-button shape="round">
        <ion-icon slot="icon-only" name="heart"></ion-icon>
      </ion-button>
      <ion-button shape="round">
        <ion-icon slot="icon-only" name="heart"></ion-icon>
      </ion-button>
    </div>
  </ion-card-header>
  <ion-progress-bar [value]="progress"></ion-progress-bar>
  <ion-card-content>
    
  </ion-card-content>
</ion-card>