// #musicProgress::part(progress) {
//     width: 10px;
//     height: 10px;
//     background: red;
// }

.selected {
    color: lightseagreen;
}

.music_title {
    font-weight: bold;
}

.author_name {
    filter: opacity(0.4);
}