<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'MPlayer' | translate }}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar (ionInput)="searchTracks($event)" placeholder="Поиск...."></ion-searchbar>
  </ion-toolbar>
  <ion-list>
    <ion-item *ngFor="let item of filtered_track_list; let index" [class]="item[4]">
      <div style="width: 40px; height: 40px; margin-right: 2vh;">
        <ion-icon slot="icon-only" name="musical-notes" style="width: 100%; height: 100%;"></ion-icon>
      </div>
      <ion-label>
        <span class="music_title">{{ item[1] }}</span> - <span class="author_name">{{ item[2] }}</span>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-header>


<ion-card>
  <ion-card-header>
    <!-- <ion-img
        src="img/musical-note.png"
        alt="music_image"
      ></ion-img> -->
    <div style="display: flex; justify-content: start;">
      <div style="width: 50px; height: 50px; margin-right: 2vh;">
        <ion-icon slot="icon-only" name="musical-notes" style="width: 100%; height: 100%;"></ion-icon>
      </div>
      <div>
        <ion-card-title>{{ track_title }}</ion-card-title>
        <ion-card-subtitle>{{ track_author }}</ion-card-subtitle>
      </div>
    </div>
    

    <div style="width: 100%;">
      <div style="display: flex; justify-content: center; width: 100%;">
        <ion-button shape="round" (click)="prev_track()">
          <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
        </ion-button>
        <ion-button shape="round" (click)="change_status()">
          <ion-icon slot="icon-only" [name]="player_status"></ion-icon>
        </ion-button>
        <ion-button shape="round" (click)="next_track()">
          <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </div>
    </div>

    <div style="display: flex; align-items: center; padding: 0 5%;">
      <ion-icon name="volume-low" style="margin-right: 10px;"></ion-icon>
      <ion-range 
        [value]="volume" 
        min="0" 
        max="1" 
        step="0.1" 
        (ionChange)="changeVolume($event)"
      ></ion-range>
      <ion-icon name="volume-high" style="margin-left: 10px;"></ion-icon>
    </div>

  </ion-card-header>
  <!-- <audio src="https://interactive-examples.mdn.mozilla.net/media/cc0-audio/t-rex-roar.mp3" id="audio_test"></audio> -->
   
  <!-- <div style="width: 100%; display: flex; justify-content: center;">
    <ion-progress-bar id="musicProgress" [value]="progress" style="width: 90%;"></ion-progress-bar>
  </div> -->

  <div style="display: flex; align-items: center; padding: 0 5%;">
    <ion-range 
      [value]="track_pg" 
      min="0" 
      max="1" 
      step="0.1" 
      id="musicProgress"
      (ionChange)="changeSeek($event)"
    ></ion-range>
  </div>



<!-- длительность трека -->
  <div style="display: flex; justify-content: space-between; padding: 0 5%;">
    <span>{{ formatTime(track.currentTime) }}</span>
    <span>{{ formatTime(track_duration) }}</span>
  </div>

  <ion-card-content>
    
  </ion-card-content>
</ion-card>