<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mplayer</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
  <ion-list>
    <ion-item *ngFor="let item of track_list; let index" [class]="item[4]">
      <div style="width: 40px; height: 40px; margin-right: 2vh;">
        <ion-icon slot="icon-only" name="musical-notes" style="width: 100%; height: 100%;"></ion-icon>
      </div>
      <ion-label><span class="music_title">{{ item[1] }}</span> - <span class="author_name">{{ item[2] }}</span></ion-label>
    </ion-item>
  </ion-list>

</ion-header>



<ion-card>
  <ion-card-header>
    <!-- <ion-img
        src="img/musical-note.png"
        alt="music_image"
      ></ion-img> -->
    <div style="display: flex; justify-content: start;">
      <div style="width: 50px; height: 50px; margin-right: 2vh;">
        <ion-icon slot="icon-only" name="musical-notes" style="width: 100%; height: 100%;"></ion-icon>
      </div>
      <div>
        <ion-card-title>{{ track_title }}</ion-card-title>
        <ion-card-subtitle>{{ track_author }}</ion-card-subtitle>
      </div>
    </div>
    

    <div style="width: 100%;">
      <div style="display: flex; justify-content: center; width: 100%;">
        <ion-button shape="round" (click)="prev_track()">
          <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
        </ion-button>
        <ion-button shape="round" (click)="change_status()">
          <ion-icon slot="icon-only" [name]="player_status"></ion-icon>
        </ion-button>
        <ion-button shape="round" (click)="next_track()">
          <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </div>
    </div>

  </ion-card-header>
  <!-- <audio src="https://interactive-examples.mdn.mozilla.net/media/cc0-audio/t-rex-roar.mp3" id="audio_test"></audio> -->
  <div style="width: 100%; display: flex; justify-content: center;">
    <ion-progress-bar id="musicProgress" [value]="progress" style="width: 90%;"></ion-progress-bar>
  </div>
  <ion-card-content>
    
  </ion-card-content>
</ion-card>