:host {
    --page-margin:var(--app-broad-margin);
    --page-background:var(--app-background-shade);
}

.forgot-password-content {
    --background: var(--page-background)
    --padding-start: var(--page-margin)
    --padding-end:
}
.recover-message {
    color: var(--ion-color-medium);
    margin: calc(var(--page-margin) / 2) 0px;
  }