<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<p class="recover-message" type="text">
  <strong>Please, enter your email and we'll send you an email to reset your password.</strong>
</p>

<ion-content class="forgot-password-content">
  <form [formGroup]="ionicForm" (ngSubmit)="submitForm()">
    <ion-item lines="full">
      <ion-icon class="email-sprite" name="mail" slot="start" aria-hidden="true"></ion-icon>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" aria-label="Email" type="email"></ion-input>
    </ion-item>
    <div *ngIf="this.ionicForm.controls?.['email']?.touched && this.ionicForm.controls?.['email']?.invalid">
      <div class="error ion-padding" *ngIf="errorControl?.['email']?.errors?.['required']">
        <ion-text color="danger">Email is required.</ion-text>
      </div>
      <div class="ion-padding" *ngIf="errorControl?.['email']?.errors?.['pattern']">
        <ion-text color="danger">Please provide valid email.</ion-text>
      </div>
    </div>  
    <ion-button class="reset-password-btn" type="submit" expand="block" >Reset your password</ion-button>
  </form>
</ion-content>