<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="forgot-password-content" > 
  <p class="recover-massege">
  Please, enter your email and we'll send you an email to reset your password:
    </p>
<form>
<ion-item lines="full">
  <ion-label position="static" >Email:</ion-label>
  <ion-input type="text" required></ion-input>
</ion-item>
</form>
<ion-col>
  <ion-button type="submit" color="danger" expand="block">Reset your password</ion-button>
  </ion-col>
</ion-content>
