<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="forgot-password-content">
  <p class="recover-message">
    Please, enter your email and we'll send you an email to reset your password.
  </p>
  <form [formGroup]="forgotPasswordForm">
    <ion-list class="input-item" lines="full">
      <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>

    </ion-list>
    <ion-button class="reset-password-btn" type="submit" expand="block" 
  >Reset your password</ion-button>
  </form>
</ion-content>