<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'TIMER.COMPONENT_TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <h2>{{ formattedTime }}</h2>

  <ion-button (click)="startTimer()" [disabled]="isRunning">
    {{ 'TIMER.START' | translate }}
  </ion-button>
  
  <ion-button (click)="stopTimer()" [disabled]="!isRunning" color="danger">
    {{ 'TIMER.STOP' | translate }}
  </ion-button>

  <ion-button (click)="resetTimer()" color="light">
    {{ 'TIMER.RESET' | translate }}
  </ion-button>
</ion-content>
