<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="main" href="/water-tracker/tabs/main">
      <ion-icon name="water"></ion-icon>
      <ion-label>Главная</ion-label>
    </ion-tab-button>
  
    <ion-tab-button tab="statistics" href="/water-tracker/tabs/statistics">
      <ion-icon name="stats-chart"></ion-icon>
      <ion-label>Статистика</ion-label>
    </ion-tab-button>
  
    <ion-tab-button tab="settings" href="/water-tracker/tabs/settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Настройки</ion-label>
    </ion-tab-button>
  
    <ion-tab-button tab="profile" href="/water-tracker/tabs/profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Профиль</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>