<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>CONTACT CARD</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="contact-card-content">
  <ion-row class="user-details-wrapper">
    <ion-col size="4">
    </ion-col>
    <ion-img [src]="'./assets/sample-images/pushkin.jpg'"></ion-img>
    <ion-col class="user-info-wrapper" size="8">
      <h3 class="user-name">{{contact.name}}</h3>
      <h5 class="user-handle">{{contact.nickname}}</h5>
    </ion-col>
    <ion-col class="user-stats-wrapper" size="6">
      <span class="user-stat-value">Подписки: </span>
      <span class="user-stat-name">{{contact.following}}</span>
    </ion-col>
    <ion-col class="user-stats-wrapper" size="6">
      <span class="user-stat-value">Подписчики: </span>
      <span class="user-stat-name">{{contact.followers}}</span>
    </ion-col>
    <ion-col size="12">
      <p class="user-bio">
        {{contact.status}}
      </p>
    </ion-col>
  </ion-row>
  <ion-row class="user-preferences-wrapper">
    <ion-col size="12">
      <h4 class="preference-name">Mobile</h4>
      <p class="preference-value">
        +1-202-555-0102
      </p>
    </ion-col>
    <ion-col size="12">
      <h4 class="preference-name">День рождения</h4>
      <p class="preference-value">
        {{contact.bday}}
      </p>
    </ion-col>
    <ion-col size="12">
      <h4 class="preference-name">Address</h4>
      <p class="preference-value">
        {{contact.address}}
        <br />

      </p>
    </ion-col>
  </ion-row>
</ion-content>