<ion-header>
  <ion-toolbar> 
    <ion-title>Научное цитирование</ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="input-container">
    
    <ion-item> 
      <ion-label position="floating">Введите текст</ion-label> 
      <ion-input class="full-width-input"></ion-input>
    </ion-item>
    
    <ion-button class="center-button" fill="solid" (click)="search_btn()">Поиск</ion-button> 
  
  </div> 

  <ion-item> 
    <ion-label position="floating">Результат запроса</ion-label> 
    <ion-textarea class="full-width-textarea" readonly></ion-textarea> 
  </ion-item> 

  <div class="cards-container">
    <ion-card *ngFor="let a of articles_cards" class="article-card">
      <ion-img [src]="a.img_name" alt="{{a.a_name}}" class="logo"></ion-img>
      <ion-card-header>
        <ion-card-title>
          <a href="{{a.doi}}">{{a.a_name}}</a>
        </ion-card-title>
        <ion-card-subtitle> {{a.abstract}}</ion-card-subtitle>
          {{a.a_authors}} 
      </ion-card-header>
    </ion-card>
  </div>
  

</ion-content> 
